@using Microsoft.EntityFrameworkCore
@model IEnumerable<AjaxCoreApp.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<h2 class="text-center">Product List</h2>

<p>
  <a asp-action="Create">Create New</a>
</p>
<hr />

<form class="form-horizontal" asp-action="Index" asp-controller="Products" 
      iajax="true" 
      iajax-target="#productlist">
  
  
  <div class="form-group">
    <label class="col-md-2 control-label">Find by name : </label>
    <div class="col-md-4">
      <input type="search" name="searchTerm" value="@ViewData["currentFilter"]" class="form-control" placeholder="Searching...">
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>


@Html.Partial("_Products", Model)

  @*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  }*@
